/* Reset & Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f8e9;
    color: #787474;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: hsl(189, 44%, 45%);
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

/* Pseudo-class :hover */
nav ul li a:hover {
    color: #ffca28;
}

/* Hero Section */
.hero {
    padding: 80px 8%;
    background-color: #3e48da;
    color: white;
    text-align: center;
}

.btn-contact {
    display: inline-block;
    padding: 15px 35px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 30px; 
    font-weight: bold;
}


.about {
    padding: 60px 8%;
    text-align: center;
}

.about-img {
    width: 100%;
    max-width: 400px;
    border: 8px solid white; 
    border-radius: 20px;
}


.contact {
            padding: 60px 8%;
            background-color: #fff;
        }

        .contact-form {
            max-width: 500px;
            margin: 0 auto; 
        }

        .form-group {
            margin-bottom: 15px;
        }

        input, textarea {
            width: 100%;
            padding: 12px; 
            border: 1px solid #ccc;
            border-radius: 8px; 
            margin-top: 5px;
        }

        .btn-submit {
            width: 100%;
            padding: 12px;
            background-color: #3e83dc;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
        }

        footer {
            text-align: center;
            padding: 20px;
            background: #f23fda;
            color: white;
        }